<div class="row">
    <div class="col-sm-8">
        <h2>Описание</h2>
        {{ vm.currentTask.description }}
    </div>
    <div class="col-sm-4">
        <h2>Управление</h2>
        <button ng-show="vm.isEventHeader || vm.isTaskHeader" class="btn btn-primary btn-block"
                ng-click="vm.setEditFormTask()">Редактировать
        </button>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <h2>Руководитель</h2>
        {{ vm.currentTask.task_header.first_name }} {{ vm.currentTask.task_header.last_name }}
    </div>
    <div class="col-sm-3">
        <h2>Срок завершения</h2>
        {{ vm.currentTask.finish_time | date:'yyyy-MM-dd' }}
    </div>
    <div class="col-sm-2">
        <h2>Статус</h2>
        {{ vm.currentTask.status }}
    </div>
    <div class="col-sm-4">
        <h2>Публичность</h2>
        {{ vm.currentTask.is_public }}
    </div>
</div>
<hr>


