<div class="panel panel-primary event-descripiton">
    <div class="panel-heading text-center">
        <div>
            <span ng-show="CurrTaskCtrl.edit.title.status">Название</span>
                <span class="text-center event-title"
                      ng-hide="CurrTaskCtrl.edit.title.status">{{ CurrTaskCtrl.task.title }}</span>
            <div class="btn-group-sm pull-right" ng-show="CurrTaskCtrl.isTaskHeader || CurrEventCtrl.isEventHeader">
                <button type="button" class="btn btn-default btn-sm"
                        ng-hide="CurrTaskCtrl.edit.title.status"
                        ng-click="CurrTaskCtrl.edit.title.changeStatus()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm"
                        ng-show="CurrTaskCtrl.edit.title.status"
                        ng-click="CurrTaskCtrl.edit.title.update()">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm"
                        ng-show="CurrTaskCtrl.edit.title.status"
                        ng-click="CurrTaskCtrl.edit.title.changeStatus()">
                    <span class="glyphicon glyphicon glyphicon-remove"></span>
                </button>
            </div>

            <div class="clearfix"></div>
        </div>
                <span class="alert-danger" ng-repeat="msg in CurrTaskCtrl.edit.title.errors ">
                    {{ msg }}
                </span>

    </div>
    <div ng-show="CurrTaskCtrl.edit.title.status">
        <label class="sr-only" for="title">Название</label>
            <textarea rows="5" class="form-control" id="title" name="title"
                      ng-model="CurrTaskCtrl.edit.title.value"></textarea>
    </div>
</div>

<div class="panel panel-info event-descripiton">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp; Описание
        <div class="btn-group-sm pull-right" ng-show="CurrTaskCtrl.isTaskHeader || CurrEventCtrl.isEventHeader">
            <button type="button" class="btn btn-default btn-sm"
                    ng-hide="CurrTaskCtrl.edit.description.status"
                    ng-click="CurrTaskCtrl.edit.description.changeStatus()">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm"
                    ng-show="CurrTaskCtrl.edit.description.status"
                    ng-click="CurrTaskCtrl.edit.description.update()">
                <span class="glyphicon glyphicon-floppy-disk"></span>
            </button>
            <button type="button" class="btn btn-default btn-sm"
                    ng-show="CurrTaskCtrl.edit.description.status"
                    ng-click="CurrTaskCtrl.edit.description.changeStatus()">
                <span class="glyphicon glyphicon glyphicon-remove"></span>
            </button>
        </div>

        <div class="clearfix"></div>
    </div>
    <div ng-hide="CurrTaskCtrl.edit.description.status" class="panel-body">
        {{ CurrTaskCtrl.task.description }}
    </div>
    <div ng-show="CurrTaskCtrl.edit.description.status">
        <label class="sr-only" for="description">Описание</label>
            <textarea rows="5" class="form-control" id="description" name="description"
                      ng-model="CurrTaskCtrl.edit.description.value"></textarea>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h4 ng-hide="CurrTaskCtrl.edit.task_header.status"
            class="custom-header"><span class="glyphicon glyphicon-star"></span>&nbsp;{{ CurrTaskCtrl.task.task_header.first_name }} {{ CurrTaskCtrl.task.task_header.last_name }}
            <span ng-show="CurrTaskCtrl.isEventHeader || CurrEventCtrl.isEventHeader"
                  ng-click="CurrTaskCtrl.edit.task_header.changeStatus()" class="btn btn-default
                        glyphicon glyphicon-cog pull-right"></span>
        </h4>

        <div class="clearfix"></div>

        <div ng-show="CurrTaskCtrl.edit.task_header.status" class="input-group">
            <select class="form-control" ng-model="CurrTaskCtrl.edit.task_header.value"
                    ng-options="user.id as user.first_name + ' ' + user.last_name for user in CurrTaskCtrl.users">
            </select>
                    <span class="input-group-btn">
                    <button ng-click="CurrTaskCtrl.edit.task_header.update()" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                    <button ng-click="CurrTaskCtrl.edit.task_header.changeStatus()" class="btn btn-default"
                            type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
            </span>
        </div>
    </div>
</div>
<div class="panel" ng-class="CurrTaskCtrl.task.is_finished ? 'panel-success' : 'panel-default' ">
    <div class="panel-heading">
        <h4 ng-hide="CurrTaskCtrl.edit.is_finished.status"
            class="custom-header">
            <span ng-show="CurrTaskCtrl.task.is_finished"><span class="glyphicon glyphicon-check"></span>&nbsp; Завершено</span>
            <span ng-hide="CurrTaskCtrl.task.is_finished"><span class="glyphicon glyphicon-unchecked"></span>&nbsp; Активно</span>
            <span ng-show="CurrEventCtrl.isEventHeader || CurrTaskCtrl.isTaskHeader"
                  ng-click="CurrTaskCtrl.edit.is_finished.changeStatus()" class="btn btn-default
                        glyphicon glyphicon-cog pull-right"></span>
        </h4>

        <div class="clearfix"></div>

        <div ng-show="CurrTaskCtrl.edit.is_finished.status" class="input-group">
            <select class="form-control" ng-model="CurrTaskCtrl.edit.is_finished.value"
                    ng-options="p.item as p.text for p in CurrTaskCtrl.edit.is_finished.items">
            </select>
                    <span class="input-group-btn">
                    <button ng-click="CurrTaskCtrl.edit.is_finished.update()" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                    <button ng-click="CurrTaskCtrl.edit.is_finished.changeStatus()" class="btn btn-default"
                            type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
            </span>
        </div>
    </div>
</div>
<div class="panel" ng-class="CurrTaskCtrl.task.is_public ? 'panel-success' : 'panel-danger' ">
    <div class="panel-heading">
        <h4 ng-hide="CurrTaskCtrl.edit.is_public.status"
            class="custom-header">
            <span ng-show="CurrTaskCtrl.task.is_public"><span class="glyphicon glyphicon-eye-open"></span>&nbsp; Публично</span>
            <span ng-hide="CurrTaskCtrl.task.is_public"><span class="glyphicon glyphicon-eye-close"></span>&nbsp; Приватно</span>
            <span ng-show="CurrEventCtrl.isEventHeader || CurrTaskCtrl.isTaskHeader"
                  ng-click="CurrTaskCtrl.edit.is_public.changeStatus()" class="btn btn-default
                        glyphicon glyphicon-cog pull-right"></span>
        </h4>

        <div class="clearfix"></div>

        <div ng-show="CurrTaskCtrl.edit.is_public.status" class="input-group">
            <select class="form-control" ng-model="CurrTaskCtrl.edit.is_public.value"
                    ng-options="p.item as p.text for p in CurrTaskCtrl.edit.is_public.items">
            </select>
                    <span class="input-group-btn">
                    <button ng-click="CurrTaskCtrl.edit.is_public.update()" class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                    <button ng-click="CurrTaskCtrl.edit.is_public.changeStatus()" class="btn btn-default"
                            type="button">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
            </span>
        </div>
    </div>
</div>


