<form role="form" ng-submit="CurrTaskCtrl.updateTask()">
    <div class="form-group">
        <label for="title" class="control-label">Название задания</label>
        <input type="text" class="form-control" id="title" name="title"
               ng-model="CurrTaskCtrl.copyTask.title" required maxlength="100" placeholder="Не более 100 символов"/>
    </div>
    <div class="form-group">
        <label for="description" class="control-label">Описание</label>
            <textarea required rows="6" cols="20" class="form-control"
                      id="description" ng-model="CurrTaskCtrl.copyTask.description"></textarea>
    </div>
    <div class="form-group">
        <label for="copyTask_header" class="control-label">Руководитель</label>
        <select id="copyTask_header" class="form-control" ng-model="CurrTaskCtrl.copyTask.copyTask_header">
            <option ng-repeat="user in CurrTaskCtrl.users"
                    ng-value="user.id"
                    ng-selected="user.id == CurrTaskCtrl.copyTask.task_header.id">{{ user.first_name }} {{ user.last_name }}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="finish_time" class="control-label">Срок завершения</label>

        <input type="date" name="finish_time" class="form-control" id="finish_time"
               ng-model="CurrTaskCtrl.copyTask.finish_time"
               min="{{ vm.today | date:'yyyy-MM-dd' }}"
               max="{{ vm.event.finish_time | date:'yyyy-MM-dd' }}" required/>
    </div>
    <div class="form-group">
        <label for="is_public" class="control-label">Публичное задание
            <input type="checkbox" name="is_public" id="is_public"
                   ng-model="CurrTaskCtrl.copyTask.is_public"/>
        </label>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Сохранить</button>
        </div>
        <div class="col-sm-6" ng-show="CurrTaskCtrl.updateClass">
            <b ng-class="CurrTaskCtrl.updateClass">{{ CurrTaskCtrl.resultMessage }}</b>
        </div>
    </div>
</form>