<div class="col-sm-12">
    <div class="nav-route">
        <ol class="breadcrumb">
            <li><a href="/">События</a></li>
            <li><a href="/events/{{ vm.currentEvent.id }}/">{{ vm.currentEvent.title }}</a></li>
            <li class="active">{{ vm.currentTask.title }}</li>
        </ol>
    </div>
    <div class="col-sm-12" ng-include="'/static/templates/tasks/desc.html'"></div>
    <div class="col-sm-7">
        <h2>Подзадания
            <button ng-show="vm.isEventHeader"
                    class="btn btn-primary pull-right" ng-click="vm.setNewTask()">Создать подзадание
            </button>
        </h2>
        <div ng-include="'/static/templates/tasks/subtasks/table.html'"
             ng-controller="CurrentTaskController as CurrentTaskCtrl"></div>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <h2>Участники
            <button ng-show="vm.isEventHeader" class="btn btn-primary pull-right"
                    ng-click="vm.setNewUser()">Пригласить участника
            </button>
        </h2>
        <div ng-include="'/static/templates/tasks/users/table.html'"></div>
    </div>
    <div class="col-sm-6 col-sm-offset-3 new-element" ng-include="'/static/templates/tasks/new.html'"
         ng-controller="TasksController as TasksCtrl"
         ng-show="vm.newSubtask"></div>
    <div class="col-sm-6 col-sm-offset-3 new-element" ng-include="'/static/templates/tasks/users/new.html'"
         ng-show="vm.newUser"></div>
    <div class="col-sm-6 col-sm-offset-3 new-element" ng-include="'/static/templates/tasks/form.html'"
         ng-show="vm.editFormTask"></div>
</div>
