<div class="col-sm-12 height-100">
    <span class="glyphicon glyphicon-remove pull-right" ng-click="CurrEventCtrl.popNewTask()"></span>

    <h3 class="text-center">Новое задание</h3>

    <form role="form" ng-submit="TasksCtrl.createTask()">
        <div class="form-group">
            <label for="title" class="control-label">Название задания</label>
            <input type="text" class="form-control" id="title" name="title"
                   ng-model="TasksCtrl.newTask.title" required maxlength="100" placeholder="Не более 100 символов"/>
        </div>
        <div class="form-group">
            <label for="description" class="control-label">Описание</label>
            <textarea required rows="6" cols="20" class="form-control"
                      id="description" ng-model="TasksCtrl.newTask.description"></textarea>
        </div>
        <div class="form-group">
            <label for="task_header" class="control-label">Руководитель</label>
            <select id="task_header" class="form-control" ng-model="TasksCtrl.newTask.task_header"
                    ng-options="user.id as user.first_name + ' ' + user.last_name for user in CurrEventCtrl.users">
            </select>
        </div>
        <div class="form-group">
            <label for="finish_time" class="control-label">Срок завершения</label>

            <input type="date" name="finish_time" class="form-control" id="finish_time"
                   ng-model="TasksCtrl.newTask.finish_time"
                   min="{{ vm.today | date:'yyyy-MM-dd' }}"
                   max="{{ vm.event.finish_time | date:'yyyy-MM-dd' }}" required/>
        </div>
        <div class="form-group">
            <label for="is_public" class="control-label">Публичное задание
                <input type="checkbox" name="is_public" id="is_public"
                       ng-model="TasksCtrl.newTask.is_public"/>
            </label>
        </div>
        <div class="form-group">
            <label for="users" class="control-label">Участники</label>
            <select id="users" class="form-control" ng-model="TasksCtrl.newTask.users" multiple>
                <option ng-repeat="user in CurrEventCtrl.users"
                        ng-value="user.id"
                ng-hide="user.id == TasksCtrl.newTask.task_header">{{ user.first_name }} {{ user.last_name }}</option>
            </select>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Создать</button>
            </div>
            <div class="col-sm-6" ng-show="TasksCtrl.isTaskCreated">
                <b class="alert-success">Задание создано</b>
            </div>
        </div>
    </form>
</div>




