<h1 class="page-header text-center">Создание нового задания в событии {{ vm.event.title }}</h1>

<form class="form-horizontal" role="form" ng-submit="vm.create()">
    <div class="form-group">
        <label for="title" class="col-sm-3 control-label">Название задание</label>

        <div class="col-sm-6">
            <input type="text" class="form-control" id="title"
                   ng-model="vm.new.title" required maxlength="100" placeholder="Не более 100 символов"/>
        </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-sm-3 control-label">Описание</label>

        <div class="col-sm-6">
                        <textarea required rows="6" cols="20" class="form-control"
                                  id="description" ng-model="vm.new.description"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="is_public" class="col-sm-3 control-label">Публичное задание</label>

        <div class="col-sm-1">
            <input type="checkbox" class="form-control" id="is_public" ng-model="vm.new.is_public"/>
        </div>
    </div>
    <div class="form-group">
        <label for="task_header" class="col-sm-3 control-label">Руководитель</label>

        <div class="col-sm-3">
            <select id="task_header" ng-model="vm.new.task_header" class="form-control">
                <option ng-repeat="user in vm.event.users" value="user.id" selected>
                    {{ user.email }}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-default">Создать</button>
        </div>
    </div>
</form>
