<div class="col-sm-12 height-100">
    <span class="glyphicon glyphicon-remove pull-right" ng-click="CurrEventCtrl.popTask()"></span>

    <h3 class="text-center">{{ CurrTaskCtrl.title }}
        <span class="btn glyphicon glyphicon-edit pull-right"
              ng-click="CurrTaskCtrl.editMode()"></span>
    </h3>

    <div class="content" ng-hide="CurrTaskCtrl.edit" ng-init="SubtasksCtrl.init()"
         ng-include="'/static/templates/tasks/content.html'"
    ></div>
    <div ng-include="'/static/templates/tasks/form.html'" ng-show="CurrTaskCtrl.edit"></div>

</div>




