<div class="container row">
    <div class="col-sm-5 col-sm-offset-2">
        <div ng-include="'static/templates/static/auth_brand.html'"></div>
        <form class="form-auth" role="form" ng-submit="vm.register()">
            <h2 class="form-auth-heading">Sign up</h2>
            <input type="email" class="form-control" placeholder="Email address" required autofocus ng-model="vm.email">
            <input type="password" class="form-control" placeholder="Password" required ng-model="vm.password">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
        <a href="login" class="center-block text-center">Sign in</a>
    </div>
</div>