<div class="col-sm-12">
    <div class="col-sm-3">
        <button class="btn btn-danger pull-left" ng-click="vm.deleteEvent()" ng-show="CurrEventCtrl.isEventHeader">
            Удалить событие &nbsp;<span class="glyphicon glyphicon-trash"></span>
        </button>
    </div>
    <div class="col-sm-offset-6 col-sm-3">
        <button class="btn btn-danger pull-right" ng-click="CurrEventCtrl.escape()">
            Выйти из события &nbsp;<span class="glyphicon glyphicon-log-out"></span>
        </button>
    </div>
</div>





