<div class="panel panel-default">
    <div class="panel-heading" ng-click="vm.toggleEvents(true)" style="cursor: pointer">
        <a>Мои события</a><span class="badge pull-right">{{ vm.myEvents.length }}</span>
    </div>
    <div class="scrollable my-events" ng-show="vm.showMyEvents">
        <ul class="list-group">
            <li ng-repeat="event in vm.myEvents" class="list-group-item"
                ng-click="vm.popNewEvent();vm.setEvent(event.id);
                CurrEventCtrl.init(); TasksCtrl.init();UsersCtrl.showProfile = false;">
                <a class="center-block">
                    <span class="glyphicon glyphicon-list"></span> {{ event.title }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading" ng-click="vm.toggleEvents(false)" style="cursor: pointer">
        <a>Другие события</a><span class="badge pull-right">{{ vm.otherEvents.length }}</span>
    </div>
    <div class="scrollable other-events last-item" ng-show="vm.showOtherEvents">
        <!-- List group -->
        <ul class="list-group" ng-show="vm.showOtherEvents">
            <li ng-repeat="event in vm.otherEvents" class="list-group-item">
                <a ng-click="vm.popNewEvent();vm.setEvent(event.id);
                CurrEventCtrl.init(); TasksCtrl.init(); UsersCtrl.showProfile = false;">
                    <span class="glyphicon glyphicon-list"></span> {{ event.title }}
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="fixed-bottom">
    <a class="btn btn-block btn-primary" ng-click="vm.popEvent();vm.setNewEvent();;">Добавить</a>
</div>



