<div ng-controller="CurrentEventController as CurrEventCtrl" ng-init="vm.init()">
    <div ng-controller="TasksController as TasksCtrl">
        <div class="col-sm-3 sidebar" ng-include="'/static/templates/events/table.html'"></div>
        <div class="col-sm-offset-3 col-sm-9 event-page"
             ng-show="vm.event"
             ng-init="CurrEventCtrl.init()"
             ng-include="'/static/templates/events/event.html'"></div>

        <div class="col-sm-offset-3 col-sm-9 event-page" ng-show="vm.newEvent"
             ng-include="'/static/templates/events/new.html'"></div>

        <div class="col-sm-6 col-sm-offset-3 new-element scrollable profile-page" ng-show="UsersCtrl.showProfile"
        ng-include="'/static/templates/users/profile.html'"></div>
    </div>
</div>
