<div class="navbar-header">
    <a class="navbar-brand">In the Task</a>
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle"
               data-toggle="dropdown"
               href="#">
                <span class="badge" ng-show="UsersCtrl.profile.invitations.length">{{ UsersCtrl.profile.invitations.length }}</span>
                {{ AuthCtrl.email }}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a ng-click="UsersCtrl.showProfile = true">Профиль</a><span class="badge"{{ UsersCtrl.profile}}></span></li>
                <li class="divider"></li>
                <li><a href="/" ng-click="AuthCtrl.logout()">Выйти</a></li>
            </ul>
        </li>
    </ul>
</div>
